/* #region Global */
.gradiente{
    background: linear-gradient(
    #0095da,   /* azul */
    #fc949a,   /* rosa claro */
    #74c137    /* verde claro */
    );
}

.f_branco{
    background-color: #fff;
}

.f_verde{
    background-color: #74c137;
}

.f_azul{
    background-color: #0095da;
}

.f_rosa{
    background-color: #fc949a;
}
.azul{
    color: #0095da;
}

.verde{
    color: #74c137;
}

.rosa{
    color: #fc949a;
    font-weight: bolder;
}

.branco{
    color: #ffffff;
}

.preto{
    color: #000;
}

.f_cinza{
    background-color: #e8e8e8;
}

.bold{
    font-weight: bolder;
}

.normal{
    font-weight: normal;
}

.italico{
    font-style: italic;
}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}

.div_img{
    width: 45%;
    height: 35vw;
}

.mar0{
    margin: 0;
}

.jc_around{
    justify-content: space-around;
}

.jc_center{
    justify-content: center;
}

/* #endregion Global */

/* #region Header */
header{
    background-color: #f5f5f5;
    text-decoration: none;
}

header img{
    width: 8vw;
    height: 5vw;
    margin-left: 3vw;
    margin-top: 0.5vw;
}

header .navbar{
    background-color: #fc949a;
    width: 100%;
    height: 5vw;
    justify-content: space-evenly;
    align-items: center;
}

header .navbar h2.link{
    
}

header .navbar h2.link a{
    font-size: 1.8vw;
    text-decoration: none;
    color: inherit;
}

/* #endregion Header */

/* #region Footer */

footer{
    background-color: #0095da;
    width: 100%;
    height: 7vw;
    justify-content: space-evenly;
    align-items: center;
}

footer .contato{
    margin-top: -1vw;
    margin-left: -5vw;
}

footer .contato .tipos{
    display: flex;
}

footer .contato .tipos .telefone{
    padding-right: 1vw;
}

footer .contato .tipos .email{
    padding-right: 1vw;
}

footer .contato .tipos .endereco{
    padding-right: 1vw;
}

footer .horario{
    margin-top: -1vw;
    width: 15vw;
}

footer .horario h3{
    width: 8vw;
}

footer .horario .d_uteis{
    padding-right: 2.5vw;
}

footer .rsociais{
    padding-top: 2.5vw;
}

footer .rsociais .face{
    padding: 0.5vw 0 0.3vw;
    width: 1.5vw;
    height: 1.5vw;
}

footer .rsociais .insta{
    padding: 0.5vw 0 0 1vw;
    width: 1.7vw;
    height: 1.7vw;
}

footer h2, footer h3{
    color: #ffffff;
}

footer h2{
    height: 0.1vw;
    font-size: 1.3vw;
}
footer h3{
    height: 0.3vw;
    font-size: 0.8vw;
}

/* #endregion Footer */

/* #region Home */

.conteiner_public{
    background-color: #f5f5f5;
}

/* Parte 1 */

.conteiner_public .div_texto{
    padding: 0 0 10vw 10vw;
}

.conteiner_public .div_texto h1{
    margin: 0;
    padding: 5vw 0 0 0;
    height: 6.2vw;
    font-size: 8vw;
}

.conteiner_public .div_texto .t1{
    padding: 0 0 0 8vw;
}

.conteiner_public .div_texto h2{
    margin: 0;
    padding: 1vw 0 0 0;
}

.conteiner_public .div_texto .t2{
    font-size: 2.05vw;
    padding: 5vw 0 0 0;
}

.conteiner_public .div_texto .t3{
    font-size: 1.3vw;
}

.conteiner_public .p2 img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 29vw;
}

/* Parte 1 */
/* Parte 2 */
.conteiner_public .mural{
    margin: 5vw 0 5vw 0;
    padding: 0;
    background-color: #74c137;
    align-items: center;
    border: 1px solid #0095da;
    border-radius: 30px; 
}

.conteiner_public .mural h1{
    height: 2vw;
    margin: -0.3vw 0 2vw 0;
    font-size: 4vw;
}

.conteiner_public .mural h2{
    width: 70%;
    margin: 1vw 0 0 0;
    padding: 0;
    text-align: center;
    font-size: 2.7vw;
}

.conteiner_public .mural img{
    margin: 2vw 1.5vw 3vw 1.5vw;
    padding: 0;
    width: 20vw;
    height: 30vw;
    border: 2px solid #ffffff;
    border-radius: 30px;
}

/* Parte 2 */
/* Parte 3 */
.conteiner_public .p3{
    margin: 2vw 0 0 0;
    padding-bottom: 3vw;
    width: 100%;
    height: 24vw;
    justify-content: space-evenly;
}

.conteiner_public .p3 .info{
    width: 45%;
    height: 20vw;
    margin: 1vw;
    padding: 2vw 2vw 1vw 6vw;
    border-radius: 40px;
    background-color: #e8e8e8;
    text-align: left;
    justify-content: space-between;
}

.conteiner_public .p3 .info h1{
    margin: 0;
    font-size: 3vw;
}

.conteiner_public .p3 .info h3{
    font-size: 1.5vw;
}

.conteiner_public .p3 .info ul{
    font-size: 1.5vw;
}

.conteiner_public .p3 .info a{
    width: 30%;
    padding: 0.5vw;
    margin: 1vw 0 1vw 0;
    border-radius: 30px;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    align-self: flex-start;
}

/* Parte 3 */
/* #endregion HOME */

/* #region Quem somos */
/* DIV 1 */
.conteiner_public #qsomos.div_texto {
    width: 50%;
    padding: 0 7vw 3vw 9vw;
}

.conteiner_public #qsomos.div_texto .t1qs{
    font-size: 4vw;
    margin: 0;
}

.conteiner_public #qsomos.div_texto .t2qs{
    font-size: 1.5vw;
    padding: 1.5vw 0 0 0;
    margin: 0;
}

.qs1{
    margin: 0;
    padding: 0;
    width: 30%;
    height: 40vw;
}

/* DIV 1 */
/* DIV 2 */
.p2_blocos{
    justify-content: space-evenly;
    padding: 2vw 0;
}

.bloco{
    width: 25%;
    padding: 1vw 2vw 2vw 2vw;
    border-radius: 80px;
    text-align: left;
}

.bloco h2{
    text-align: center;
}

/* DIV 3 */
.p3_qs{
    display: flex;
    flex-direction: column;
    padding: 5vw 0 1vw 0;
}

.p3_qs h1{
    width: fit-content;
    margin: 0 auto;
}

.p3_qs .coluna{
    padding: 2vw 3vw;
    align-items: justify;
    justify-content: space-evenly;
}

.p3_qs .coluna .texto1{
    padding: 1vw 2vw;
    width: 50%;
    height: 40%;
    font-size: 1.5vw;
}

.p3_qs .coluna .texto2{
    padding: 1vw 2vw;
    width: 50%;
    height: 40%;
    font-size: 1.5vw;
}

.p3_qs .coluna .texto1 img{
    width: 100%;
    height: 30vw;
    border-radius:  60px;
}

.p3_qs .coluna .texto2 img{
    width: 100%;
    height: 20vw;
    border-radius:  60px;
}
/* DIV 4 */
.p4{
    background-color: #0095da;
    margin: 5vw 2vw 3vw 2vw;
    padding: 1.5vw;
    align-items: center;
    border-radius: 100px;
}

.p4 h1{
    margin: -1.8vw;
}

.p4 .listas{
    justify-content: space-evenly;
    margin: 1vw 2vw 0 2vw;
}

/* DIV 5 */
.p5{
    padding: 2vw 0;
    text-align: center;
}

.p5 .tipos{
    margin-top: 2vw;
}

.linha_cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vw;
}

.linha_cards2{
    display: flex;
    margin-top: 1vw;
}

.linha_cards .card{
    width: 11%;
    background-color: #d9d9d9;
    padding: 1vw;
    border-radius: 20px;
    text-align: left;
}

.card img{
    width: 100%;
    height: 7vw;
    background-color: #0095da;
    border-radius: 20px;
}

.card .texto{
    width: 100%;
    height: 37%;
    justify-content: center;
}

.card p{
    margin: 0;
    font-size: 1vw;
}

.seg{
    width: 45%;
    justify-content: space-evenly;
}

.linha_cards2 .card{
    width: 26%;
    background-color: #d9d9d9;
    padding: 1vw;
    border-radius: 20px;
    text-align: left;
}
/* #endregion Quem somos */

/* #region Doações */
.doacoes{
    padding-top: 3vw;
}

.doacoes .texto{
    width: 65%;
    height: 100%;
    padding: 0 3vw 0 4vw;
}

.doacoes .texto h1{
    margin: 0 0 -1vw 0;
    font-size: 4.7vw;
}

.doacoes .texto h2{
    width: 90%; 
    font-size: 2.5vw;  
}

.doacoes .texto p{
    width: 90%; 
    font-size: 2vw;
}

.doacoes .texto a{
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    font-size: 1.5vw;
    border-radius: 30px;
}

.doacoes img {
    width: 35%;
    height: 45vw;
    border-radius: 50px;
    margin: 0 3vw 3vw 3vw;
}

.doacoes2{
    padding: 2vw;
    margin: 4vw 2vw 3vw 2vw;
    border-radius: 30px;
    text-align: center;
}

.doacoes2 h1{
    margin: -0.5vw 0 0 0;
    font-size: 2.5vw;
}

.doacoes2 .img1{
    width: 25%;
    height: 35vw;
    margin: 2vw 1vw 2vw 1vw;
    border-radius: 80px;
}

.doacoes2 .img2{
    width: 25%;
    height: 25vw;
    margin: 2vw 1vw 2vw 1vw;
    border-radius: 80px;
}

.doacoes2 .texto{
    width: 50%;
    margin: 1vw 3vw 1vw 3vw;
    text-align: left;
    font-size: 2vw;
}

.doacoes2 .texto p, .doacoes2 .texto2 p{
    margin: 1.1vw 0;
}

.doacoes2 .texto2{
    width: 80%;
    margin: 1vw 3vw 1vw 3vw;
    text-align: left;
    font-size: 2vw;
}

.doacoes3-4 h1, 
.doacoes3-4 p{
    text-align: center;
}

.doacoes3-4 .d_blocos{
    justify-content: space-evenly;
    padding: 2vw 0;
    font-size: 1.5vw;
}

.doacoes3-4 .d_blocos .bloco{
    width: 27%;
}

.doacoes3-4 .d_blocos h2{
    margin: 1vw 0 0 0;
}

.doacoes3-4 .d_blocos h3, .doacoes3-4 .d_blocos h5{
    font-weight:normal;
}

.doacoes3-4 .d_blocos ul{
    margin: 0 0 0 0;
} 

.doacoes3-4 .d_blocos h4, 
.doacoes3-4 .d_blocos h5{
    width: 70%;
}

.doacoes3-4 .d_blocos h4{
    margin: 1.5vw 1vw 0 4vw;
}

.doacoes3-4 .d_blocos h5{
    margin: 0 1vw 0 4vw;
}

.doacoes3-4 .bloco2{
    margin: 1vw 2vw 2vw 2vw;
    border-radius: 80px;
    text-align: left;
}

.doacoes3-4 .texto{
    margin: 1vw 0 3vw 0;
}

.doacoes3-4 .bloco2 h1, 
.doacoes3-4 .bloco2 p{
    text-align: left;
}

.doacoes3-4 .bloco2 h1{
    width: 85%;
    margin: 0 1vw 0 4vw;
    font-size: 5vw;
}

.doacoes3-4 .d_horario{
    margin: -1vw 0 0 4vw;
    width: 100%;
}

.doacoes3-4 .d_horario h2{
    width: 90%;
    margin: 4vw 1vw 0 0;
    font-size: 3vw;
}

.doacoes3-4 .d_horario h3, .doacoes3-4 .d_horario h4{
    margin: 1vw 1vw 1vw 0;
    font-size: 2vw;
}

.doacoes3-4 .d_horario h4{
    font-weight: normal;
}

.doacoes3-4 .d_horario .d_uteis{
    width: 50%;
    padding-right: 2.5vw;
}

.doacoes3-4 img{
    width: 80%;
    height: 35vw;
    margin: 2vw 5vw 2vw 1vw;
    border: #fff 3px solid;
    border-radius: 80px;
}

/* #endregion Doações */

/* #region Atividades */
/* #region div1*/
.atividades .texto,
.atividades .img{
     width: 50%;
}

.atividades .texto{
    padding: 0 0 2vw 10vw;
}

.atividades h1{
    margin: 0 1vw 1vw 1vw;
    font-size: 6vw;
}

.atividades h2{
    margin: 1vw;
    font-size: 2vw;
}

.atividades p{
    margin: 2vw 1vw 0 1vw;
    font-size: 1.5vw;
}

.atividades ul{
    margin: 0 1vw 1vw 1vw;
    font-size: 1.5vw;
}

.atividades .img img{
    position: absolute;
    width: 19%;
    height: 35%;
    margin: 0 0 0 10vw;
    border: #fff 1px solid;
}

.atividades .img #img1{
    margin: 3vw 1vw 1vw 5vw;
    transform: rotate(-15deg);
}

.atividades .img #img2{
    margin: 8vw 1vw 1vw 18vw;
    transform: rotate(20deg);
}
/* #endregion div1*/

/* #region div2*/
.atividades2{
    width: 75%;
    height: 21vw;
    margin: 4vw 3vw;
    padding: 1vw 10vw 1vw 10vw;
    border-radius: 30px;
    text-align: left;
}

.atividades2 p{
    margin: 2vw 1vw 2vw 0;
}

.atividades2 .txt{
    margin: 2vw 1vw 3vw 0;
}

.atividades2 a{
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 20px;
}

/* #endregion div2*/

/* #region div3*/
.atividades3{
    margin: 1vw 2vw;
    padding: 7vw 5vw 7vw 3vw;
    border-radius: 30px;
}

.painel{
    width: 70%;
    margin-right: 2vw;
}

.atividades3 img{
    width: 45%;
    height: 20vw;
    margin: 0 0 1vw 1vw;
    outline: 3px solid white;
    outline-offset: -3px;
    border-radius: 50px;
}

.atividades3 .texto{
    width: 50%;
}

.atividades3 .texto h1{
    margin: 2vw 1vw 0 0;
    font-size: 4vw;
}

.atividades3 .texto h2{
    margin: -1.3vw 1vw 1vw 9vw;
    font-size: 4vw;
}

.atividades3 .texto p{
    margin: 1vw;
    font-size: 2vw;
}

.atividades3 .texto ul{
    font-size: 2vw;
}

/* #endregion div3*/
/* #endregion Atividades */

/* #region Voluntario, Transparencia, Instalações */
.align_center{
    align-items: center;
}

.box{
    padding: 2vw;
    border-radius: 20px;
    margin-top: 2vw;
}

.img_media{
    width: 20vw;
    border-radius: 20px;
}

.img_pequena{
    width: 10vw;
    margin: 0.5vw;
    border-radius: 15px;
}

.grid_docs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    margin-top: 1vw;
}

.doc{
    background-color: #d9d9d9;
    padding: 1vw;
    border-radius: 10px;
    text-align: center;
}

.btn_branco{
    background-color: white;
    color: #0095da;
} 
/* #endregion */